<div class="form-signin">
  <ion-grid widith=100%>
    <ion-row size="12">
        <ion-col size="1">
          <ion-item color="dark" widith=100%>
              <ion-label position="floating" class="cor">Unidade</ion-label>
              <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1">
          <ion-item color="dark" widith=100%>
            <ion-label position="floating" class="cor">Bloco</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="dark" widith=100%>
            <ion-label position="floating" class="cor">Ambiente</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="3">
        <ion-item color="dark" widith=100%>
          <ion-label position="floating" class="cor">Tipo de Ambiente</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-item color="dark" widith=100%>
          <ion-label position="floating" class="cor">Nome</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item color="dark" widith=100%>
          <ion-label position="floating" class="cor">Capacidade</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="2"></ion-col>
      <ion-col size="2">
        <ion-item color="dark" widith=100%>
          <ion-label position="floating" class="cor">QtComputador</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item color="dark" widith=100%>
          <ion-label position="floating" class="cor">ipCamera</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="8">
        <ion-button color="success" expand="block">Cadastrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>